extends layout 

block content 
  h1 #{title}
 
  p Math.hypot() is applied to #{number1} is #{hypot}
  p Math.ceil() is applied to #{number2} is #{ceil}
  p Math.clz32() is applied to #{number3} is #{clz32}
